<!DOCTYPE html>
<html lang="en">
<head>
  <title>과제</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <a class="navbar-brand" href="#" >
          <img src="img/호서.jpg" alt="호서직업능력개발원"
                style="height : 40px; margin-left : 50px; margin-right : 100px;">
    </a>
    <ul class="nav mr- auto">
        <li class="nav-item">
              <a class="nav-link" href="0.index.html"><i class="fas fa-home"></i>홈</a>
        </li>
        <li class="nav-item">
              <a class="nav-link" href="0.index.html"><i class="fas fa-sign-out-alt"></i>로그아웃</a>
        </li>
      </ul>
        <div class="navbar-text fixed-right" id="weather">
            날씨 : 맑음, 온도 : 20&deg;C
            <i class="fas fa-sun"></i>
        </div>
    </nav>

    <div class="container" style="margin-top:90px;">
        <div class ="row">
          <div class=col-2>
      <ul class="nav nav-pills flex-column nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="1.역사.html">역사</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">활용</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="3.안드로이드.html">안드로이드</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="4.아이폰.html">아이폰</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="5.샘플.html">샘플</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">20년 출시 휴대폰</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="6.최신.html">갤럭시 폴드 2</a>
            <a class="dropdown-item" href="6.최신.html">갤럭시 노트 20</a>
            <a class="dropdown-item" href="6.최신.html">아이폰 12</a>
            <a class="dropdown-item" href="6.최신.html">샤오미 10</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="7.외부링크.html">외부링크</a>
      </li>
      </ul>
    </div>
    </nav>
        <div class="container col-10">
          <h2 id = "활용"><a href="https://ko.wikipedia.org/wiki/스마트폰#활용" target="_blank">활용</a></h2>
          <p>스마트폰 활용의 핵심은 다양한 애플리케이션을 이용할 수 있는 애플리케이션 스토어에 있다. 
              애플리케이션 스토어는 게임, e북, 음악, 사진, 동영상 등 
              사용자들이 원하는 애플리케이션과 콘텐츠를 쉽게 내려받을 수 있게 해주는 
              서비스로 애플의 앱스토어 출시 이후 활성화되었다. 
              노키아, 구글, 마이크로소프트 등에 이어 통신사업자, 인터넷 포털과 
              모바일 소프트웨어 개발 기업들도 사업진출을 시도했다.</p>
              <div class="container">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                          <td><img src="img/활용.jpg" class="mx-auto d-block" alt="Simon 1" width="304" height="236"> </td>
                          <td><img src="img/app.png" class="mx-auto d-block" alt="Simon 1" width="304" height="236"> </td>
                      </tr>
                </table>
                <br><hr><br>
                <h2>애플리케이션 스토어 국내 시장 점유율</h2>
                <br>
                <div class="progress" style="height:60px">
                  <div class="progress-bar bg-primary" style="width:61%">
                    구글 플레이스토어 61%
                  </div>
                  <div class="progress-bar bg-success" style="width:22%">
                    앱 스토어 22%
                  </div>
                  <div class="progress-bar bg-warning" style="width:10%">
                    원 스토어 10%
                  </div>
                  <div class="progress-bar bg-danger" style="width:7%">
                    기타 7%
                  </div>
                </div>
              </div>
    <nav class="navbar navbar-expand lg navbar-light bg-light justify-content-center fixed-bottom">
      <p class="text-secondary">Copyright<i class="far fa-copyright"></i> 2020 Hoseo Institute of Big Data</p>
    </nav>
</body>
</html>
