<!DOCTYPE html>
<html lang="en">
<head>
  <title>과제</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <a class="navbar-brand" href="#" >
          <img src="img/호서.jpg" alt="호서직업능력개발원"
                style="height : 40px; margin-left : 50px; margin-right : 100px;">
    </a>
    <ul class="nav mr- auto">
        <li class="nav-item">
              <a class="nav-link" href="0.index.html"><i class="fas fa-home"></i>홈</a>
        </li>
        <li class="nav-item">
              <a class="nav-link" href="0.index.html"><i class="fas fa-sign-out-alt"></i>로그아웃</a>
        </li>
      </ul>
        <div class="navbar-text fixed-right" id="weather">
            날씨 : 맑음, 온도 : 20&deg;C
            <i class="fas fa-sun"></i>
        </div>
    </nav>

    <div class="container" style="margin-top:90px;">
        <div class ="row">
          <div class=col-2>
      <ul class="nav nav-pills flex-column nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="1.역사.html">역사</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="2.활용.html">활용</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="3.안드로이드.html">안드로이드</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="4.아이폰.html">아이폰</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="5.샘플.html">샘플</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">20년 출시 휴대폰</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="6.최신.html">갤럭시 폴드 2</a>
            <a class="dropdown-item" href="6.최신.html">갤럭시 노트 20</a>
            <a class="dropdown-item" href="6.최신.html">아이폰 12</a>
            <a class="dropdown-item" href="6.최신.html">샤오미 10</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="7.외부링크.html">외부링크</a>
        </li>
      </ul>
    </div>
    </nav>
        <div class="container col-10">
          <h2 id = "외부링크">외부 링크</h2>
          <br>
          <div class="container">
            <a href="http://www.doopedia.co.kr/doopedia/master/master.do?_method=view&MAS_IDX=101013000769250" class="btn btn-info" role="button">두산대백과사전</a>
            <a href="https://terms.naver.com/entry.nhn?docId=1199937&cid=40942&categoryId=32849" class="btn btn-info" role="button">네이버 캐스트</a>
            <a href="https://namu.wiki/w/%EC%8A%A4%EB%A7%88%ED%8A%B8%ED%8F%B0" class="btn btn-info" role="button">나무위키</a><br><br>
            <a href="survey4.html" class="btn btn-danger btn-lg" role="button">설문조사</a>
          </div>
        </div>
    <nav class="navbar navbar-expand lg navbar-light bg-light justify-content-center fixed-bottom">
      <p class="text-secondary">Copyright<i class="far fa-copyright"></i> 2020 Hoseo Institute of Big Data</p>
    </nav>
</body>
</html>
